/* For our own custom styles */

.nav-button-section{
    min-height: 50px;
    margin: auto;
}

md-toolbar.navbar{
    background-color:black;
    margin: auto;
}

div.margin{
    margin:auto;
}

.nav-button:not([disabled]) {
    color : white;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    font-size: 16px;
}
.nav-button:not([disabled]):hover {
    background-color: #004d00;
    color: white;
}

/* Schedule css */

.tabsStaticTabs md-tab-content {
    padding: 25px;
    background-color:#d9d9d9;
}

.tabsStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }

.tabsStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0; }

.md-tabs.md-accent.ng-isolate-scope {
/* perhaps for later */
}

#schedule{
    min-height:700px;
}

/* for inner calendar */
.gridListdemoDynamicTiles md-icon {
    width: 50%;
    height: 30%; }
.gridListdemoDynamicTiles md-icon svg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
.gridListdemoDynamicTiles .s64 {
    font-size: 64px; }
.gridListdemoDynamicTiles .s32 {
    font-size: 48px; }
.gridListdemoDynamicTiles md-icon.fa {
    display: block;
    padding-left: 0; }
.gridListdemoDynamicTiles md-icon.s32 span {
    padding-left: 8px; }
.gridListdemoDynamicTiles md-grid-list {
    margin: 8px; }
.gridListdemoDynamicTiles .white {
    background-color: #ffffff; }
.gridListdemoDynamicTiles md-grid-tile {
    transition: all 300ms ease-out 50ms; }
.gridListdemoDynamicTiles md-grid-tile md-icon {
    padding-bottom: 32px; }
.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
    background: rgba(0, 0, 0, 0.68);
    height: 36px; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
    width: 100%; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
    margin: 0;
    font-weight: 700;
    width: 100%;
    text-align: center; }